<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="FATAL">
  <Appenders>
    <Console name="console">
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="management.dao" level="debug" additivity="false">
      <AppenderRef ref="console" />
    </Logger>
    <Logger level="debug" additivity="false">
      <AppenderRef ref="console" />
    </Logger>
    
    <Root level="debug" additivity="false">
      <AppenderRef ref="console" />
    </Root>
  </Loggers>
</Configuration>